#content {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px #d2670a;
    background-color: #837ae9;
    
  }
    img{
      width: 200px;
      margin-left: 20px;
    }
    h1 {
      color: #1b0042;
      font-size: 200%;
    }
    p{
      font-family: cursive;
      text-indent: 10px;
      margin-left: 10px;
    }
